<!--Toolbar-->
<ion-toolbar primary>

  <!--Title-->
  <ion-title>Calculator</ion-title>

  <!--Settings-->
  <ion-buttons [hidden]="!isLoggedIn" end>
    <button royal [navPush]="settingsPage">
    <ion-icon name="settings"></ion-icon>
    </button>
  </ion-buttons>

</ion-toolbar>

<!--Content-->
<ion-content class="home">

  <!--spacer-->
  <br/><br/>

  <!--Logo-->
  <!--<div padding-left>
    <img src="img/logo.png" />
  </div>-->

  <!--spacer-->
  <!--<br/><br/>-->

  <!--spacer-->
  <!--<br/><br/>-->

  <button [hidden]="isLoggedIn" (click)="authWithGoogle()" full>Sign in with Google</button>
  <div>
    {{diagnostic}}
  </div>
  <form [hidden]="!isLoggedIn" [ngFormModel]="calculatorForm" (ngSubmit)="onSubmit(calculatorForm.value)">

    <!--Height-->
    <ion-item>
      <ion-label>Height</ion-label>
      <ion-input type="number" value="" [ngFormControl]="height"></ion-input>
    </ion-item>
    <div *ngIf="height.hasError('required') && height.touched" padding-left>
      <p danger>* Height is required!</p>
    </div>

    <!--Width-->
    <ion-item>
      <ion-label>Width</ion-label>
      <ion-input type="number" value="" [ngFormControl]="width"></ion-input>
    </ion-item>
    <div *ngIf="width.hasError('required') && width.touched" padding-left>
      <p danger>* Width is required</p>
    </div>

    <!--mouldingSize-->
    <ion-item>
      <ion-label>Moulding Size</ion-label>
      <ion-input type="number" value="" [ngFormControl]="mouldingSize"></ion-input>
    </ion-item>
    <div *ngIf="mouldingSize.hasError('required') && mouldingSize.touched" padding-left>
      <p danger>* Moulding size is required!</p>
    </div>

    <!--glass-->
    <ion-item>
      <ion-label>Glass</ion-label>
      <ion-toggle [ngFormControl]="onGlass"></ion-toggle>
    </ion-item>

    <!--Lamination-->
    <ion-item>
      <ion-label>Lamination</ion-label>
      <ion-toggle [ngFormControl]="needsLamination"></ion-toggle>
    </ion-item>

    <!--Collage-->
    <ion-item>
      <ion-label>Collage</ion-label>
      <ion-toggle [ngFormControl]="isCollage"></ion-toggle>
    </ion-item>

    <!--totalSnaps-->
    <div [hidden]="!isCollage.value">
      <ion-item>
        <ion-label>Total Snaps</ion-label>
        <ion-input type="number" value="" [ngFormControl]="totalSnaps"></ion-input>
      </ion-item>
    </div>

    <!--totalAmount-->
    <ion-item>
      <ion-label>Total Amount</ion-label>
      <ion-input type="number" value="" [ngFormControl]="totalAmount"></ion-input>
    </ion-item>
    <div *ngIf="totalAmount.hasError('required') && totalAmount.touched" padding-left>
      <p danger>* Total amount is required!</p>
    </div>

    <!--spacer-->
    <br/><br/>

    <!--Submit-->
    <button type="submit" class="custom-button" [disabled]="!calculatorForm.valid" block>Calculate</button>

    <!--spacer-->
    <br/><br/>

    <ion-item>
      <ion-avatar item-left>
        <img src="{{authDataProfileImage}}" />
      </ion-avatar>
      {{authDataProfileName}}
      <button primary clear danger item-right (click)="unauthWithGoogle()">
            <div><strong>Logout</strong></div>
        </button>
    </ion-item>

  </form>

</ion-content>